<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Logo:</b>
  <%= @team.logo %>
</p>

<p>
  <b>History:</b>
  <%= @team.history %>
</p>

<p>
  <b>Division:</b>
  <%= @team.division %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
