<div class="comment-item <%= cycle("even", "odd") %>">
	<div class="row">
		<div class="comment-body small-12 large-12 column">

			<%= link_to image_tag(comment.user.profile_photo, :alt => 'Awesome profile', :size => '40x40', :class => 'comment-author-avatar'), user_path(comment.user), :class => 'avatar-block' %>

          <% if current_user && current_user.following?(comment.user) %>
            <%= link_to 'Bye!', goodbye_user_path(comment.user), :class => 'button follow xsmall green', :method => :delete, :remote => true %>
          <% else %>
            <%= link_to 'Theo', follow_user_path(comment.user), :class => 'button follow xsmall grey', :method => :post, :remote => true %>
          <% end %>

			<span class="author-name-meta">
				<strong><%= link_to comment.user.name, user_path(comment.user) %></strong> - 2h trước <br>
				
			</span>
			<%= simple_format(comment.comment).html_safe %>
		</div>
	</div>
	<div class="comment-footer">
		<div class="comment-meta">
			<p>
				<% if comment.user == current_user %>
				<a href="">Sửa</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				<% end %>
				<a href="">Báo cáo</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				<a href="">Trả lời</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;

		          <%= link_to 'B', vote_comment_path(comment, :type => 'down'), :method => :post, :class => 'glyph social voting vote-down-off' %>
		          <span class="vote-count-post "><%= comment.reputation_for(:votes).to_i %></span>
		          <%= link_to 'A', vote_comment_path(comment, :type => 'up'), :method => :post, :class => 'glyph social voting  vote-up-off' %>
			</p>
		</div>
	</div>
</div>