<div id="main-container-inner" class="row">
  <div id="match-left-content" class="small-7 large-7 columns">
    <div id="match-info">
      <div class="match-header">
        <div class="match-timestamp">
          <span><%= @match.started_at.strftime("%A %d/%m/%Y") %> | <%= @match.stadium.name %> | Kick-off <%= @match.started_at.strftime("%H:%M") %></span>
        </div>
        <div class="match-competitors row">
          <div class="team team-home small-6 large-6 columns">
            <div class="team-info">
              <img src="" alt="" class="team-logo">
              <strong class="team-name"><%= @match.team_home.shortname %></strong>
            </div>
            <div class="opacity-bg"></div>
            <span class="team-score"><%= @match.home_score %></span>
          </div>
          <div class="team team-away small-6 large-6 columns">
            <div class="team-info">
              <img src="" alt="" class="team-logo">
              <strong class="team-name"><%= @match.team_away.shortname %></strong>
            </div>
            <div class="opacity-bg"></div>
            <span class="team-score"><%= @match.away_score %></span>
          </div>
        </div>
      </div>
      <div class="match-overal row">
        <% if @match.started? %>

        <div class="team team-home small-6 large-6 columns">
          <ul class="goal-list">
            <li><strong>Falcao</strong> 7'</li>
            <li><strong>Falcao</strong> 34'</li>
            <li><strong>Diego</strong> 85'</li>
          </ul>
        </div>
        <div class="team team-away small-6 large-6 columns">

        </div>
          
        <% else %>
          <span class="not_started">Trận đấu chưa bắt đầu!</span>
          <%= link_to 'Theo dõi', match_path, :class => 'subscribe_match button large' %>
        <% end %>
      </div>
      <div id="match-tasks" class="row">
        <ul class="tasks-tabs large-12 column">
          <li><a href="#live-commentary">Tường thuật <span class="label radius live">Đang trực tiếp</span></a></li>
          <li><a href="ajax/content1.html">Tin tức &amp; Nhận định</a></li>
        </ul>
        <div id="live-commentary" class="large-12 column">
          <div class="commentary-inner">
            <ul id="commentaries">
              <%= render @match.commentaries.reverse %>
            </ul>
          </div>
          <hr class="end-commentary">
        </div>       
      </div>
    </div>
    <div id="comment-container">
      <h2>Bạn nghĩ gì về trận đấu này?</h2>

      <%= form_for([@match, current_user.comments.build], :remote => true) do |f| %>

        <p class="field comment-textarea">
          <%= link_to image_tag(current_user.profile_photo, :alt => 'Awesome profile', :size => '40x40', :class => 'comment-author-avatar'), edit_user_registration_path, :class => 'avatar-block' %>
          <%= f.text_area :comment, :placeholder => 'Ý kiến cá nhân của bạn?' %>
        </p>
        <p class="actions">
          <%= f.submit 'Gởi bình luận', :class => 'button' %>
        </p>
      <% end %>
      
      <!-- begin #comment-list -->
      <div id="comment-list">
        <%= render @match.comments.reverse %>
      </div>
      <!-- end #comment-list -->

    </div>
  </div>

  <div id="sidebar" class="match-sidebar small-12 large-5 columns">
    <div class="widget box">
      <h3 class="widget-title">Trận đấu đáng xem</h3>
      <div class="widget-content">
        <table class="match-table">
          <thead>
            <tr>
              <th colspan="4">Kết quả trự động update</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="team team-home">MAN UTD</td>
              <td width="20%">2 - 1</td>
              <td class="team team-away">CHELSEA</td>
              <td width="20%"><span class="label radius live">Đang trực tiếp</span></td>
            </tr>
            <tr>
              <td class="team team-home">LIVERPOOL</td>
              <td>0 - 1</td>
              <td class="team team-away">QPR</td>
              <td><span class="label radius ended">Kết thúc</span></td>
            </tr>
            <tr>
              <td class="team team-home">Midbrough</td>
              <td>0 - 0</td>
              <td class="team team-away">MAN CITY</td>
              <td><span class="label radius begin">Sắp diễn ra</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
