<div id="main-container-inner" class="row">
  <div id="match-left-content" class="small-7 large-7 columns">
    <div id="match-info">
      <div class="match-header">
        <div class="match-timestamp">
          <span>Chủ nhật 13/05/2012 | <%= @match.stadium.name %> | Kick-off 09:00</span>
        </div>
        <div class="match-competitors row">
          <div class="team team-home small-6 large-6 columns">
            <div class="team-info">
              <img src="" alt="" class="team-logo">
              <strong class="team-name"><%= @match.team_home.shortname %></strong>
            </div>
            <div class="opacity-bg"></div>
            <span class="team-score"><%= @match.home_score %></span>
          </div>
          <div class="team team-away small-6 large-6 columns">
            <div class="team-info">
              <img src="" alt="" class="team-logo">
              <strong class="team-name"><%= @match.team_away.shortname %></strong>
            </div>
            <div class="opacity-bg"></div>
            <span class="team-score"><%= @match.away_score %></span>
          </div>
        </div>
      </div>
      <div class="match-overal row">
        <% if @match.match_started? %>

        <div class="team team-home small-6 large-6 columns">
          <ul class="goal-list">
            <li><strong>Falcao</strong> 7'</li>
            <li><strong>Falcao</strong> 34'</li>
            <li><strong>Diego</strong> 85'</li>
          </ul>
        </div>
        <div class="team team-away small-6 large-6 columns">

        </div>
          
        <% else %>
          <span class="not_started">Trận đấu chưa bắt đầu!</span>
          <%= link_to 'Theo dõi', match_path, :class => 'subscribe_match button large' %>
        <% end %>
      </div>
    </div>
    <div id="comment-container">
      <h2>Bạn nghĩ gì về bài nhận định này?</h2>
      
      <!-- begin #comment-list -->
      <div id="comment-list">
        <%= render @match.comments %>
      </div>
      <!-- end #comment-list -->

      <%= form_for([@match, @match.comments.build]) do |f| %>
        <% if user_signed_in? %>
          <p class="field">
            <%= current_user.name %>
          </p>
        <% else %>
          
        <% end %>

        <p class="field">
          <%= f.label :comment, 'Comment' %>
          <%= f.text_area :comment %>
        </p>
        <p class="actions">
          <%= f.submit 'Gởi bình luận', :class => 'button' %>
        </p>
      <% end %>
    </div>
  </div>

  <div id="sidebar" class="match-sidebar small-12 large-5 columns">
    <div class="widget">
      <h3 class="widget-title">Trận đấu đáng xem</h3>
      <div class="widget-content">
        <table class="match-table">
          <thead>
            <tr>
              <th colspan="4">Kết quả trự động update</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="team team-home">MAN UTD</td>
              <td width="20%">2 - 1</td>
              <td class="team team-away">CHELSEA</td>
              <td width="20%"><span class="label radius live">Đang trực tiếp</span></td>
            </tr>
            <tr>
              <td class="team team-home">LIVERPOOL</td>
              <td>0 - 1</td>
              <td class="team team-away">QPR</td>
              <td><span class="label radius ended">Kết thúc</span></td>
            </tr>
            <tr>
              <td class="team team-home">Midbrough</td>
              <td>0 - 0</td>
              <td class="team team-away">MAN CITY</td>
              <td><span class="label radius begin">Sắp diễn ra</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
