<div id="main-container-inner" class="row">
  <div id="match-left-content" class="small-7 large-7 columns">
    <div id="match-info">
      <div class="match-header">
        <div class="match-timestamp">
          <span>Chủ nhật 13/05/2012 | Etihad Stadium | Kick-off 09:00</span>
        </div>
        <div class="match-competitors row">
          <div class="team team-home small-6 large-6 columns">
            <div class="team-info">
              <img src="" alt="" class="team-logo">
              <strong class="team-name"><%= @match.team_home.shortname %></strong>
            </div>
            <div class="opacity-bg"></div>
            <span class="team-score">2</span>
          </div>
          <div class="team team-away small-6 large-6 columns">
            <div class="team-info">
              <img src="" alt="" class="team-logo">
              <strong class="team-name"><%= @match.team_away.shortname %></strong>
            </div>
            <div class="opacity-bg"></div>
            <span class="team-score">1</span>
          </div>
        </div>
      </div>
      <div class="match-overal row">
        <div class="team team-home small-6 large-6 columns">
          <ul class="goal-list">
            <li><strong>Falcao</strong> 7'</li>
            <li><strong>Falcao</strong> 34'</li>
            <li><strong>Diego</strong> 85'</li>
          </ul>
        </div>
        <div class="team team-away small-6 large-6 columns">

        </div>
      </div>
    </div>
  </div>
</div>

<p>
  <b>Team home:</b>
  <%= @match.team_home_id %>
</p>

<p>
  <b>Team away:</b>
  <%= @match.team_away_id %>
</p>

<p>
  <b>Team home goal:</b>
  <%= @match.team_home_goal %>
</p>

<p>
  <b>Team away goal:</b>
  <%= @match.team_away_goal %>
</p>

<p>
  <b>Statistics:</b>
  <%= @match.statistics %>
</p>

<p>
  <b>Stadium:</b>
  <%= @match.stadium %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
