<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p class="field">
    <%= f.label :summary %>
    <%= text_area_tag :summary, '', :class => 'redactor', :rows => 10 %>
  </p>
  <p class="field">
    <%= f.label :content %>
    <%= text_area_tag :content, '', :class => 'redactor', :rows => 30 %>
  </p>
  <p class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </p>
  <p class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </p>
  <p class="actions">
    <%= f.submit %>
  </p>
<% end %>
