<%= render 'posts/shared/header' %>

<div id="main-container-inner" class="row">

  <p id="notice"><%= notice %></p>

    <p class="page-timestamp small-6 large-2 columns">
      <span class="date"><%= @post.created_at.strftime("%d/%m/%Y") %></span> 
      <br>
      <strong class="post-author"><%= @post.user.firstname + ' ' + @post.user.lastname %></strong>
    </p>

  <div class="small-8 large-6 columns" id="post-container">
    <%= image_tag(@post.bigimage, :class => 'post-header-image full-width') %>
    <h1 class="post-heading"><%= @post.title %></h1>

    <div class="introduction">
      <%= @post.summary.html_safe %>
    </div>

    <div class="content">
    <%= @post.content.html_safe %>
    </div>

    <div class="tags-list">
      <b>Tags:</b> <%= @post.tags %>
    </div>


  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>

    <div id="comment-container">
      <h2>Bình luận về trận đấu</h2>
      
      <!-- begin #comment-list -->
      <div id="comment-list">
        <%= render @post.comments %>
      </div>
      <!-- end #comment-list -->

      <%= form_for([@post, @post.comments.build]) do |f| %>
        <% if user_signed_in? %>
          <p class="field">
            <%= current_user.firstname + ' ' + current_user.lastname %>
          </p>
        <% else %>
          
        <% end %>

        <p class="field">
          <%= f.label :comment, 'Comment' %>
          <%= f.text_area :comment %>
        </p>
        <p class="actions">
          <%= f.submit 'Gởi bình luận', :class => 'button' %>
        </p>
      <% end %>
    </div>

  </div>

  <div class="small-12 large-4 columns"></div>

</div>