<%= render 'posts/shared/header' %>

<div id="main-container-inner" class="row">

  <div class="post-leftcontent small-2 large-2 columns">
    <%#= link_to image_tag(@post.user.profile_photo('large'), :alt => 'Awesome profile', :size => '50x50', :class => 'author-avatar left'), edit_user_registration_path %>
    <strong class="date"><%= @post.created_at.strftime("%d tháng %m, %Y") %></strong> 
    <br>
    <span class="post-author">Bài viết nhận định của <%= link_to @post.user.firstname + ' ' + @post.user.lastname, edit_user_registration_path %></span>

    <div class="voting small-2 columns">
          <input type="hidden" value="5219535">
          <%= link_to 'up vote', vote_post_path(@post, :type => 'up'), :method => :post, :class => 'vote-up-off' %>
          <span class="vote-count-post "><%= @post.reputation_for(:avg_rating).to_i %></span>
          <%= link_to 'up vote', vote_post_path(@post, :type => 'down'), :method => :post, :class => 'vote-down-off' %>
    </div>
  </div>

  <div class="small-6 large-6 columns" id="post-container">
    <%= image_tag(@post.bigimage, :class => 'post-header-image full-width') %>
    <div class="profile-header-inner-overlay"></div>


    <div class="page-timestamp">
    </div>

    <h1 class="post-heading"><%= @post.title %></h1>

    <div class="introduction">
      <%= @post.summary.html_safe %>
    </div>

    <div class="content">
    <%= @post.content.html_safe %>
    </div>

    <div class="tags-list">
      <b>Tags:</b> <%= @post.tags %>
    </div>


  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>

    <div id="comment-container">
      <h2>Bạn nghĩ gì về bài nhận định này?</h2>
      
      <!-- begin #comment-list -->
      <div id="comment-list">
        <%= render @post.comments %>
      </div>
      <!-- end #comment-list -->

      <%= form_for([@post, @post.comments.build]) do |f| %>
        <% if user_signed_in? %>
          <p class="field">
            <%= current_user.name %>
          </p>
        <% else %>
          
        <% end %>

        <p class="field">
          <%= f.label :comment, 'Comment' %>
          <%= f.text_area :comment %>
        </p>
        <p class="actions">
          <%= f.submit 'Gởi bình luận', :class => 'button' %>
        </p>
      <% end %>
    </div>

  </div>

  <div class="small-12 large-4 columns"></div>

</div>