<p id="notice"><%= notice %></p>

<div class="large-7 columns" id="post-container">
  <h1 class="post-heading"><%= @post.title %></h1>

  <div class="introduction">
    <%= @post.summary.html_safe %>
  </div>

  <div class="content">
  <%= @post.content.html_safe %>
  </div>

  <div class="tags-list">
    <b>Tags:</b> <%= @post.tags %>
  </div>

<p>
  <b>User:</b>
  <%= @post.user.firstname + ' ' + @post.user.lastname %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>