<%= render 'posts/shared/header' %>

<div id="main-container-inner" class="row">

  <div class="small-6 large-8 columns" id="post-container">
    <%= image_tag(@post.bigimage, :class => 'post-header-image full-width') %>
    <div class="post-main large-offset-3">
      <div class="profile-header-inner-overlay"></div>

      <h1 class="post-heading"><%= @post.title %></h1>

      <div class="row">
        <div class="post-author large-7 columns">
          <%= link_to profile_photo(@post.user, 'author-avatar left'), user_path(@post.user) %>
          <strong class="date"><%= link_to @post.user.firstname + ' ' + @post.user.lastname, user_path(@post.user) %></strong>

          <% if current_user && current_user.following?(@post.user) %>
            <%= link_to 'Bye!', goodbye_user_path(@post.user), :class => 'button follow xsmall green unfollow-'+@post.user.id.to_s, :method => :post, :remote => true %>
          <% else %>
            <%= link_to 'Theo', follow_user_path(@post.user), :class => 'button follow xsmall grey follow-'+@post.user.id.to_s, :method => :post, :remote => true %>
          <% end %>
        </div>

        <div class="page-timestamp large-5 columns">

          <span class="post-timestamp"><%= @post.created_at.strftime("%d tháng %m, %Y") %></span> <br>
                <%= link_to 'B', vote_post_path(@post, :type => 'down'), :method => :post, :class => 'glyph social voting  vote-down-off' %>
                <span class="vote-count-post "><%= @post.reputation_for(:avg_rating).to_i %></span>
                <%= link_to 'A', vote_post_path(@post, :type => 'up'), :method => :post, :class => 'glyph social voting vote-up-off' %>
        </div>
      </div>

      <div class="introduction">
        <%= @post.summary.html_safe %>
      </div>

      <div class="content">
      <%= @post.content.html_safe %>
      </div>

      <div class="tags-list">
        <b>Tags:</b> <%= @post.tags %>
      </div>


    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>

      <div id="comment-container">
        <h2>Bạn nghĩ gì về bài nhận định này?</h2>

        <%= form_for([@post, current_user.comments.build], :remote => true ) do |f| %>

          <p class="field comment-textarea">
            <%= link_to profile_photo(current_user), edit_user_registration_path, :class => 'avatar-block' %>
            <%= f.text_area :comment, :placeholder => 'Ý kiến cá nhân của bạn?' %>
          </p>
          <p class="actions">
            <%= f.submit 'Gởi bình luận', :class => 'button' %>
          </p>
        <% end %>
        
        <!-- begin #comment-list -->
        <div id="comment-list">
          <%= render @post.comments.reverse %>
        </div>
        <!-- end #comment-list -->
      </div>
    </div>

  </div>

  <div id="sidebar" class="small-12 large-4 columns">
    <div class="widget">
      <h3 class="widget-title">Các bài khác</h3>
      <div class="widget-content">
        <ul id="post-list">
          <li id="post-5993533" class="current">
          <div class="wrapper">
            <div class="thumb_container">
              <a class="thumbLink" href="#">
              <img class="thumb" src="http://img.gawkerassets.com/img/18jiwehqdu660jpg/xsmall.jpg" width="80" height="45" alt="">
              </a>
            </div>
            <div class="text">
              <a href="" class="tag">MAN UTD</a>
              <span class="timestamp">6:01 PM</span>
              <a class="headline" href="">
              <span class="headline-txt">Shopster: Make Return Grocery Trips a Thing of the Past<span class="broughtby"></span></span></a>
            </div>
            <div class="clear">
            </div>
          </div>
          </li>
          <li id="post-5993533" class="current">
          <div class="wrapper">
            <div class="thumb_container">
              <a class="thumbLink" href="#">
              <img class="thumb" src="http://img.gawkerassets.com/img/18jig4zb6ocz3png/xsmall.png" width="80" height="45" alt="">
              </a>
            </div>
            <div class="text">
              <a href="" class="tag">Chuyển nhượng</a>
              <span class="timestamp">5:21 PM</span>
              <a class="headline" href="">
              <span class="headline-txt">Shinji Kagawa sẽ về MU mùa bóng sau.<span class="broughtby"></span></span></a>
            </div>
            <div class="clear">
            </div>
          </div>
          </li>
          <li class="ad">
          <div class="wrapper">
            <p><strong>Ad by Footads</strong>Fujifilm đang khuyến mãi, mua 1 tặng 1, nhanh chân lên nào</p>
            <div class="clear">
            </div>
          </div>
          </li>
          <li id="post-5993533" class="current">
          <div class="wrapper">
            <div class="thumb_container">
              <a class="thumbLink" href="#">
              <img class="thumb" src="http://img.gawkerassets.com/img/18is9ovcxt5jajpg/xsmall.jpg" width="80" height="45" alt="">
              </a>
            </div>
            <div class="text">
              <a href="" class="tag">Giao hữu</a>
              <span class="timestamp">6:01 PM</span>
              <a class="headline" href="">
              <span class="headline-txt">Đội tuyển Việt Nam sẽ có trận giao hữu với MU Reserve<span class="broughtby"></span></span></a>
            </div>
            <div class="clear">
            </div>
          </div>
          </li>
        </ul> 
        <!-- end #post-list -->
      </div>
    </div>

    <div class="widget activities">
      <h3 class="widget-title">Friend's activities</h3>
      <div class="widget-content">
        <ul>
          <% activities.each do |activity| %>
          <%= render_activity activity %>
          <% end %>
        </ul>
      </div>
    </div>   
  </div>

</div>