<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div id="top-bar-wrapper">
	<nav class="top-bar row">
		<ul class="title-area">
		  <!-- Title Area -->
		  <li class="name">
		    <h1 id="logo">
		      <%= link_to image_tag('football-logo.png') + content_tag(:span, 'Footballer'), home_index_path %>
		    </h1>
		    <h2 class="headline">Nơi thực sự gọi là bóng đá</h2>
		  </li>
		  <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
		</ul>

		<section class="top-bar-section">
		  <!-- Right Nav Section -->
		  <ul class="right">
		  	<% if user_signed_in? %>

			    <!--<li class="divider"></li>-->
			    <li class="has-dropdown">
			      <%= link_to profile_photo(current_user, 'profile_avatar', 'square', '25x25') + ' Howdy, ' + current_user.firstname.to_s + '!', edit_user_registration_path %>
			      <ul class="dropdown">
			      	<li><%= link_to "Trang cá nhân", edit_user_registration_path %></li>
			        <li><%= link_to "Sign out", destroy_session_path(:user), :method => :delete %></li>
			      </ul>
			    </li>
		    	<li></li>
		    <% else %>
		    	<li><%= link_to ('<span class="glyph social facebook">d</span> Sign in with Facebook').html_safe, user_omniauth_authorize_path(:facebook), :class => 'button facebook' %></li>			
			<% end %>

		  </ul>
		</section>
	</nav>
  </div>

	<!-- End Top Bar -->

	<%= render 'shared/menu' %>


	<div id="main_container">
    	<%= yield %>
	</div>

    
    <%= javascript_include_tag "application" %>
  </body>
</html>
